<div class="navbar-container">
  <app-layoutclient></app-layoutclient>
</div>
<div class="container">
  <div class="table-container">
    <p-table [value]="lesobligations">
      <ng-template pTemplate="header">
        <tr>
          <th>Libelle</th>
          <th>Periode</th>
          <th>Date de début</th>
          <th>Date de fin</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-obligation>
        <tr>
          <td>{{ obligation.impot.libelle }}</td>
          <td>{{ obligation.impot.periodicite.periode }}</td>
          <td>{{ obligation.dateDebut | date:'dd/MM/yyyy' }}</td>
          <td>{{ obligation.dateFin | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>