.step-divider {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.step-actions {
  margin-top: 20px;
}
.p-d-flex {
  display: flex;
  flex-direction: row;
}

.p-mr-3 {
  margin-right: 1rem; /* Adjust as needed */
}
.step-title {
  text-align: center;
  font-weight: bold;
}

.step-subtitle {
  text-align: center;
}
