<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #023047;margin: -8px;">
  <div class="p-card p-p-4 p-shadow-4" style="width: 500px; margin: 10px;height:auto;">
    <p-card *ngIf="true">
      <ng-template pTemplate="title">
        Coordonnées de contribuable
      </ng-template>
      <ng-template pTemplate="subtitle">
        Entrer les Coordonnées de contribuable
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div class="p-field">
            <label for="pwd1">Password</label>
            <p-password [(ngModel)]="formatDate.password" [toggleMask]="true" required>
              <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">

                  <p class="mt-2">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                  </ul>
              </ng-template>
          </p-password>
          </div>
          <div class="p-field">
            <label for="firstname">Confirm Password</label>
            <p-password [(ngModel)]="formatDate.password1" [toggleMask]="true" required>
            </p-password>
          </div>

        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
          <button pButton type="button" label="Next" class="p-button-info" (click)="submit()"></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
