<div class="full-w">
  <div class="dashboard-content">
    <app-admin-side-bar></app-admin-side-bar>
    <div class="center-card">
      <p-toast key="step1"></p-toast>
      <p-card [style]="{ width: 'auto', margin: '10px' }">

        <div class="input-container">
          <label for="detailLibelle" class="section-heading">Libelle du Detail D'impot:</label>
          <input type="text" id="detailLibelle" pInputText [(ngModel)]="value" placeholder="Libelle du Detail"
            style="width: 250px;" />

        </div>
        <div class="input-container">
          <label for="integeronly" class="section-heading">ordre du Detail D'impot:</label>
          <p-inputNumber inputId="integeronly" [(ngModel)]="value1" placeholder="numero d'ordre"
            [style]="{'width': '250px'}"></p-inputNumber>
        </div>
        <!-- Type de champs de detail d'impot -->
        <div class="section-container">
          <div class="section-heading">Type de champs de detail d'impot:</div>
          <div *ngFor="let key of typeDetailKeys" class="field-checkbox">
            <p-radioButton [inputId]="key" name="category" [value]="key" [(ngModel)]="selectedType"></p-radioButton>
            <label [for]="key" class="ml-2">{{ key }}</label>
          </div>
        </div>


        <div class="section-container">
          <div class="section-heading">L'obligation du Champs de Detail:</div>
          <div class="field-radio">
            <p-radioButton type="radio" id="obligatoireRadio" name="obligationRadio" value=true
              [(ngModel)]="trueValue"></p-radioButton>
            <label for="obligatoireRadio" class="ml-2">obligatoire</label>
            <p-radioButton type="radio" id="nonObligatoireRadio" name="obligationRadio" value=false
              [(ngModel)]="trueValue"></p-radioButton>
            <label for="nonObligatoireRadio" class="ml-2">non obligatoire</label>
          </div>
        </div>
        <div class="section-container">
          <div class="section-heading">Champs Calculable:</div>
          <div class="field-radio">
            <p-radioButton type="radio" id="calculableOui" name="calculableRadio" [value]="true"
              [(ngModel)]="isCalculable" (onClick)="openDialog()"></p-radioButton>
            <label for="calculableOui" class="ml-2">Oui</label>
            <p-radioButton type="radio" id="calculableNon" name="calculableRadio" [value]="false"
              [(ngModel)]="isCalculable"></p-radioButton>
            <label for="calculableNon" class="ml-2">Non</label>
          </div>
        </div>
        <p-button label="Submit" (onClick)="submit()"></p-button>
      </p-card>

    </div>
  </div>
</div>
<p-dialog header="Details Calculables" [(visible)]="displayDialog" [modal]="true" [closable]="true"
  [style]="{height: '500px', width: '500px'}" [draggable]="false">
  <ng-container *ngIf="lesDetails.length === 0">
    <p>Impossible de créer une formule, veuillez donner au minimum un champ non calculable</p>
  </ng-container>
  <ng-container *ngIf="lesDetails.length > 0">
    <p-dropdown [options]="lesDetails" [(ngModel)]="selectedDetail" (onChange)="onDetailChange($event)"
      placeholder="Select a detail" optionLabel="libelle"></p-dropdown>
    <div class="input-container" style="margin-top: 10px;">
      <label for="operation" class="section-heading">Operation:</label>
      <p-dropdown [options]="operationOptions" [(ngModel)]="selectedOperation" (onChange)="onOperationChange($event)"
        placeholder="Select an operation" optionLabel="label"></p-dropdown>
    </div>
    <div class="input-container" style="margin-top: 10px;">
      <label for="formula" class="section-heading">Formule de Calcul:</label>
      <textarea type="text" id="formula" readonly pInputText [(ngModel)]="formula"
        placeholder="Entrez la formule de calcul" style="width: 100%;"></textarea>
    </div>
  </ng-container>
  <p-footer>
    <p-button label="Valider" icon="pi pi-check" (onClick)="closeDialog()"></p-button>
    <p-button label="Supprimer" icon="pi pi-trash" severity="danger" (onClick)="close()"></p-button>
  </p-footer>
</p-dialog>