.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: -10;
  flex-direction: column;
}

.card-container {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topnav {
  background-color:#003049;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #780000;
  color: white;
}
.topnav a.split:hover {
  background-color: #c1121f; /* Change background color to pink on hover */
}
body{
  margin: -10PX;
}
.hover-card {
  background-color: rgb(214, 214, 214); /* Default background color */
}

.hover-card:hover {
  background-color: rgb(214, 214, 214); /* Change to the desired background color */
}

.hover-card:hover .header {
  background-color: rgb(214, 214, 214); /* Change to the desired background color for the header */
}


.heading-container {
  margin-bottom: 20px;
  position: relative; /* Adjust as needed */
}
