<div>
  <app-layoutclient></app-layoutclient>
  <div class="container" style="margin-top: 50px;">

    <p-toast></p-toast>

    <p-card class="card">
      <div class="card-header">
        <h2>Ajout d'une Declaration</h2>
      </div>
      <div class="form-group">
        <label for="impot">Choisissez un impôt:</label>
        <div class="dropdown-container">
          <p-dropdown id="impot" class="dropdown" [options]="lesobligations" [(ngModel)]="obligation"
            optionLabel="impot.libelle" [showClear]="true" placeholder="Choisissez un impôt"></p-dropdown>
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type de déclaration:</label>
        <div class="dropdown-container">
          <p-dropdown id="type" class="dropdown" [options]="lestypes" [(ngModel)]="type" optionLabel="type"
            [showClear]="true" placeholder="Choisissez un type de déclaration"></p-dropdown>
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date:</label>
        <div class="calendar-container">
          <p-calendar id="date" class="calendar" [(ngModel)]="date" view="month" dateFormat="mm/yy"
            [readonlyInput]="true" [showIcon]="true" placeholder="Choisissez une Date"></p-calendar>
        </div>
      </div>
      <p-button label="Suivant" icon="pi pi-arrow-right" (onClick)="submit()" iconPos="right"></p-button>

    </p-card>
  </div>
</div>
<p-dialog header="Declaration" [(visible)]="displayPopup" [modal]="true"
  [style]="{ 'width': '800px', 'height': 'auto' }">
  <ng-template pTemplate="content">
    <div class="tooltip">
      <p-button icon="pi pi-info-circle" [rounded]="true"></p-button>
      <span class="tooltiptext">
        <ul style="list-style-type: none; padding: 0; margin: 10px;">
          <li>La formule de Calcul : {{formule}}</li>
          <li>r :total des revenues</li>
          <li>p :total des pertes</li>
          <li>* :obligation de remplir ce champs</li>
        </ul>
      </span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>les Champs a Remplir</th>
          <th>Valeur</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of hashMapEntries | keyvalue: keepOriginalOrder">
          <td>{{ parseEntryKey(entry.key) }}</td>
          <td>
            <ng-container *ngIf="entry.value.valeur !== null; else emptyInput">
              <p-inputNumber class="small-input" type="number" [(ngModel)]="entry.value.valeur"
                [style]="{ 'width': '100px' }" />
            </ng-container>
            <ng-template #emptyInput>
              <p-inputNumber class="small-input" type="number" [(ngModel)]="entry.value.valeur"
                [style]="{ 'width': '100px' }" />
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <p-button label="Suivant" icon="pi pi-arrow-right" (onClick)="submit1()" iconPos="right"></p-button>
  </ng-template>
</p-dialog>