<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="topnav">
    <a href="/acceuil">Home</a>
    <div class="dropdown">
      <button class="dropbtn">
        Declaration
        <i class="pi pi-angle-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/client/ajout-declaration"><i class="pi pi-plus"></i> Ajout Declaration</a>
        <a href="#"><i class="pi pi-list"></i> Mes Declarations</a>
        <a href="#"><i class="pi pi-book"></i> Mes Obligations</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Reclamation <i class="pi pi-angle-down"></i></button>
      <div class="dropdown-content">
        <a href="/client/reclamation"><i class="pi pi-plus"></i> Ajout Reclamation</a>
        <a href="#"><i class="pi pi-check"></i> Mes Reclamations</a>

      </div>
    </div>

    <a href="/login" class="split" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</a>
  </div>


</body>

</html>