<p-toast key="step1"></p-toast>
<div
  style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #023047;margin: -8px;">
  <div class="p-card" style="width: auto; margin: 10px;height: auto;">

    <div class="container">
      <div class="forms-container">

        <div class="form-control signin-form">
          <form (ngSubmit)="onSubmit()">
            <h2>Signin</h2>

            <div class="field">
              <label for="username1" class="block">Username:</label>
              <input id="username1" type="text" aria-describedby="username1-help" pInputText
                [(ngModel)]="formData.email" name="email" />
            </div>

            <div class="field">
              <label for="password">Password:</label>
              <p-password name="password" [feedback]="false" [(ngModel)]="formData.password"
                [toggleMask]="true"></p-password>
            </div>

            <div style="margin-top: 10px;">
              <button type="submit" pButton label="Submit"></button>
            </div>
            <div style="margin-top: 10px;">
              <a (click)="showForgotPasswordDialog()">Mot de Pass oublié ?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="intros-container">
        <div class="intro-control signin-intro">
          <div class="intro-control__inner">
            <div class="image-container">
              <img src="assets/dgi.png" alt="DGI Logo">
            </div>
            <h2>Welcome back!</h2>
            <p>
              Ravi de vous retrouver sur notre plateforme fiscale ! Comptez sur nous pour rendre la déclaration et le
              paiement de vos impôts aussi simples que possible.
            </p>
            <button id="signup-btn" (click)="gotosignup()">Pas de compte ? sign up!</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<p-dialog header="Mot de passe oublié" [(visible)]="displayForgotPassword" [modal]="true" [responsive]="true"
  [style]="{ 'width': '400px', 'height': '300px' }">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <label for="forgotEmail" class="p-d-block">Entrez votre adresse email:</label>
      <input id="forgotEmail" type="email" pInputText [(ngModel)]="forgotPasswordEmail" name="forgotEmail"
        placeholder="Entrez votre adresse email" class="p-inputtext" [style]="{ 'width': '350px', 'height': '50px' }" />
    </div>
  </div>
  <br>
  <div class="p-grid p-justify-end">
    <div class="p-col">
      <button type="button" pButton label="Envoyer l'email" (click)="sendForgotPasswordEmail()"
        class="p-button-success"></button>
      <span style="margin: 0 6px;"></span> <!-- Espace horizontal de 10px -->
      <button type="button" pButton label="Annuler" (click)="displayForgotPassword=false"
        class="p-button-secondary"></button>

    </div>




  </div>
</p-dialog>