<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form (ngSubmit)="onSubmit()">
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="formData.email" required>

    <label>Password:</label>
    <input type="password" name="password" [(ngModel)]="formData.password" required>

    <button type="submit">Submit</button>
  </form>



</body>
</html>
