<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="topnav">
    <a href="/acceuil">Home</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="window.location.href='/responsable/tous-les-reclamations'">
        Tous Les Reclamations

      </button>

    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="window.location.href='/responsable/lesReclamationEnAttente'">
        Les Reclamations en Attente

      </button>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="window.location.href='/responsable/lesReclamationEnCours'">
        Les Reclamations EnCours

      </button>
    </div>
    <a href="/login" class="split" (click)="logout()"><i class="pi pi-sign-out"></i> Logout</a>
  </div>


</body>

</html>